// Modules and Variables
@import "partials/base";

// Partials
@import "partials/buttons";
@import "partials/cards";
@import "partials/grids";
@import "partials/forms";
@import "partials/helpers";
@import "partials/hero";
@import "partials/links";
@import "partials/navigation";
@import "partials/search_results";
@import "partials/typography";

// Core Page setup
html, body{
	width:100%;
	height:100%;
}

body{
	/*background-color: #EFEFEF;*/
}

@media screen and (min-width: 769px){
html, body{
	margin: 0;
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
html, body{
	margin: 0;
}
}

@media screen and (max-width: 480px){
html, body{
	margin: 0;
}
}