        <!-- NAVIGATION -->
        <!-- Meta nav -->
        <div class="nav-wrap">
                <nav class="nav--meta">
                    <ul>
                        <li><%= link_to 'Meta 1', '#' %></li>
                        <li><%= link_to 'Pldsaasces', '#' %></li>
                        <li class="post-job-button"><a href="#">Post job</a></li>
                    </ul>
                </nav><!-- End meta navigation -->

            <!-- Main nav -->
                <nav class="nav--main">
                    <ul>
                        <li><%= link_to 'Industries', '#' %></li>
                        <li><%= link_to 'Places', '#' %></li>
                        <li class="post-job-button"><a href="#">Post job</a></li>
                    </ul>
                </nav><!-- End main navgation -->
        </div><!-- End navigation -->