        <!-- NAVIGATION -->
        <!-- Meta nav -->
        <div class="nav-wrap">
            <!-- Main nav -->
                <nav class="nav--main">
                    <!-- Serach box -->
                   <span class="nav--search">
                        <span class="site-logo">
                            <img src="../img/svg/creativeset-logo.svg">
                        </span>
                    </span>
                    <ul>
                        <li><%= link_to 'EN', '#' %></li>
                        <li class="post-job-button"><a href="#">Post job</a></li>
                    </ul>
                </nav><!-- End main navgation -->
        </div><!-- End navigation -->