        <!-- Footer -->
        <footer class="footer_wrap">
            <article class="footer">
                <ul id="social_footer">
                    <li>
                        <a href="http://www.twitter.com/creativeset">
                            <%= image_tag 'images/svg/social_footer_twitter.svg', :alt => "Twitter" %>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/creativeset">
                            <%= image_tag 'images/svg/social_footer_facebook.svg', :alt => "Facebook" %>
                        </a>
                    </li>
                </ul><!-- End social_footer -->
                <p class="footer--text-container">
                Copyright Creativeset 2014. All rights reserved.
                </p>
            </article>
        </footer><!-- End footer -->