---
title: Creativeset page title
---
<%= partial "nav" %>
<!-- **************************************************
					HERO MODULE
	 ************************************************** -->
	<div id ="hero-wrap">
		<div class="hero">
			<h1 class="master-headline">
				Style Guide
			</h1>
		</div><!--End hero-->
	</div><!--End hero-wrap-->

<!-- ************************************************** -->	
<div class="container"> <!-- Start general page wrap -->
<!-- **************************************************
					PROSE BLOCK MODULE
	 ************************************************** -->
	<article class="prose-block">
		<h1>About CreativeSet</h1>
		<p>
			Creativeset's goal is to create the perfect job-portal exclusively for the creative industry. Companies, agencies and studios can post their jobs and easily modify, refresh and disable their jobs on their own job management page. The job-postings run for 4 weeks, after which the site sends out a mail asking if the job should be refreshed or not.</p>
		<p>
			Jobseekers have at their disposal the fastest job-filter system in the industry, allowing a multitude of search criteria to identify suitable positions.
		</p> 
		<p>
			New job notification couldn't be easier with the creativeset SearchAgent. Simply define your search profile and enter your email address to receive new postings the moment they go online. An RRS version of the agent will be available in the near future.
		</p>
		<p class="micro-copy">
			If you have any questions or suggestions as to how we can improve creativeset, please <a href="mailto:office@creativeset.net">contact us</a>.
		</p>
	</article><!-- End prose-block -->

<!-- **************************************************
					JOB LISTINGS MODULE
	 ************************************************** -->
			<div class="grid-wrap">
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<h3>A storybuilder for Red Bull Amaphiko</h3>
						<p class="micro-copy centre">Working with Red Bull Amaphiko we created a storybuilder to enable social entrepreneurs in South Africa to spread their projects.</p>
					</article>
				</a><!-- End article -->
			</div><!-- End grid wrap -->

<!-- ************************************************** -->		
		</div><!-- End container page wrap -->