---
title: Creativeset page title
---
<%= partial "nav" %>

<!-- ************************************************** -->	
<div class="container"> <!-- Start general page wrap -->
<!-- ************************************************** -->

<!-- **************************************************
					JOB LISTINGS MODULE
	 ************************************************** -->
			<div class="grid-wrap">
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<p class="micro-copy centre">Berlin | GameDuell GMBH</p>
						<h3>Senior visual designer for mobile and web</h3>
					</article>
				</a><!-- End card -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<p class="micro-copy centre">Berlin | GameDuell GMBH</p>
						<h3>Senior visual designer for mobile and web</h3>
					</article>
				</a><!-- End card -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<p class="micro-copy centre">Berlin | GameDuell GMBH</p>
						<h3>Senior visual designer for mobile and web</h3>
					</article>
				</a><!-- End card -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<p class="micro-copy centre">Berlin | GameDuell GMBH</p>
						<h3>Senior visual designer for mobile and web</h3>
					</article>
				</a><!-- End card -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<p class="micro-copy centre">Berlin | GameDuell GMBH</p>
						<h3>Senior visual designer for mobile and web</h3>
					</article>
				</a><!-- End card -->
				<!-- Start card -->
				<a href="#">
					<article class="blog-post grid-col three-up">
						<img src="http://placehold.it/400x300" alt="Job Listing Alt tag here">
						<p class="micro-copy centre">Berlin | GameDuell GMBH</p>
						<h3>Senior visual designer for mobile and web</h3>
					</article>
				</a><!-- End card -->
			</div><!-- End grid wrap -->

<!-- ************************************************** -->		
		</div><!-- End container page wrap -->