---
title: Creativeset page title
---
<%= partial "nav-inside" %>

<!-- ************************************************** -->	
<div class="container"> <!-- Start general page wrap -->
<!-- ************************************************** -->

<!-- **************************************************
					JOB LISTINGS MODULE
	 ************************************************** -->
			<!-- Start card -->
			<ul class="results-wrap">
				<a href="#">
					<li>
						<h4>Senior visual <span class="brand-primary-color-1">design</span>er for mobile and web</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4><span class="brand-primary-color-1">Design</span>er for mobile and web</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4>Digital <span class="brand-primary-color-1">design</span>er</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4>Production <span class="brand-primary-color-1">design</span>er</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

		</div><!-- End results-wrap -->

<!-- ************************************************** -->		
		</div><!-- End container page wrap -->