---
title: Creativeset page title
---
<%= partial "nav-inside" %>

<!-- ************************************************** -->	
<div class="container"> <!-- Start general page wrap -->
<!-- ************************************************** -->

<!-- **************************************************
					FILTER MODULE
	 ************************************************** -->
			<div class="grid-wrap margin-bottom--minus">
				  	<div class="grid-col four-up">
				  		<select>
				  			<label>Country</label>
				  			<option value="-1">Country</option>
				  			<option value="-1">All</option>
							<option value="1">Germany</option>
							<option value="3">Switzerland</option>
							<option value="2">Austria</option>
				  		</select>
				  	</div><!-- End div-col -->
				  	<div class="grid-col four-up">
				  		<select>
				  			<option>Region</option>
				  			<option value="-1">All</option>
							<option value="11">Baden-Wuerttemberg</option>
							<option value="30">Basel-Stadt</option>
							<option value="12">Bavaria</option>
							<option value="3">Berlin</option>
							<option value="1">Brandenburg</option>
							<option value="5">Hamburg</option>
							<option value="13">Hessen</option>
							<option value="6">Lower Saxony</option>
							<option value="7">North Rhine-Westphalia</option>
							<option value="18">Vienna</option>
							<option value="53">Vorarlberg</option>
							<option value="20">Zurich</option>
				  		</select>
				  	</div><!-- End div-col -->
				  	<div class="grid-col four-up">
				  		<select>
				  			<label>City</label>
				  			<option>City</option>
				  			<option value="-1">All</option>
							<option value="38">Basel</option>
							<option value="3">Berlin</option>
							<option value="60">Bregenz</option>
							<option value="23">Cologne</option>
							<option value="7">Dusseldorf</option>
							<option value="20">Frankfurt</option>
							<option value="62">Freiburg</option>
							<option value="5">Hamburg</option>
							<option value="65">Karlsruhe</option>
							<option value="127">Ludwigsburg</option>
							<option value="66">Mannheim</option>
							<option value="12">Munich</option>
							<option value="92">Münster</option>
							<option value="25">Nuernberg</option>
							<option value="1">Potsdam</option>
							<option value="11">Stuttgart</option>
							<option value="18">Wien</option>
							<option value="13">Wiesbaden</option>
							<option value="85">Wolfsburg</option>
							<option value="27">Zurich</option>
				  		</select>
				  	</div><!-- End div-col -->
				  	<div class="grid-col four-up">
				  		<select>
				  			<label>Experience</label>
				  			<option value="0">Experience</option>
				  			<option value="1">Internship</option>
							<option value="5">Management</option>
							<option value="6">Student</option>
							<option value="7">Trainee</option>
							<option value="2">Junior</option>
							<option value="3">Middle</option>
							<option value="4">Senior</option>
				  		</select>
				  	</div><!-- End div-col -->
			</div><!-- End div-wrap -->
<!-- **************************************************
					JOB LISTINGS MODULE
	 ************************************************** -->
			<!-- Start card -->
			<ul class="results-wrap">
				<a href="#">
					<li>
						<h4>Senior visual <span class="brand-primary-color-1">design</span>er for mobile and web</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4><span class="brand-primary-color-1">Design</span>er for mobile and web</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4>Digital <span class="brand-primary-color-1">design</span>er</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4>Production <span class="brand-primary-color-1">design</span>er</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

		</div><!-- End results-wrap -->

<!-- ************************************************** -->		
		</div><!-- End container page wrap -->
<!-- ************************************************** -->	

<!-- **************************************************
					FOOTER MODULE
	 ************************************************** -->
		<%= partial "footer" %>