---
title: Creativeset style guide
---

<!-- **************************************************
					HERO MODULE
	 ************************************************** -->
	<div id ="hero-wrap">
		<div class="hero center">
			<h1 class="master-headline">
				Style guide
			</h1>
		</div><!--End hero-->
	</div><!--End hero-wrap-->

<!-- ************************************************** -->	
<div class="container"> <!-- Start general page wrap -->
<!-- ************************************************** -->

<!-- **************************************************
					PROSE BLOCK MODULE
	 ************************************************** -->
	<article class="prose-block">
		<h1>Typography</h1>
		<h1 class="master-headline black">Master headline</h1>
		<h1>Headline 1</h1>
		<h2>Headline 2</h2>
		<h3>Headline 3</h3>
		<h4>Headline 4</h4>
		<p>
			Creativeset's goal is to create the perfect job-portal exclusively for the creative industry. Companies, agencies and studios can post their jobs and easily modify, refresh and disable their jobs on their own job management page. The job-postings run for 4 weeks, after which the site sends out a mail asking if the job should be refreshed or not.</p>
		<p>
			Jobseekers have at their disposal the fastest job-filter system in the industry, allowing a multitude of search criteria to identify suitable positions.
		</p> 
		<p>
			New job notification couldn't be easier with the creativeset SearchAgent. Simply define your search profile and enter your email address to receive new postings the moment they go online. An RRS version of the agent will be available in the near future.
		</p>
		<p>
			<a href="mailto:office@creativeset.net">This is a link</a><br>
			<a href="mailto:office@creativeset.net">This is a link</a><br>
			<a href="mailto:office@creativeset.net">This is a link</a><br>
			<a href="mailto:office@creativeset.net">This is a link</a><br>
		</p>
		<p class="micro-copy">
			If you have any questions or suggestions as to how we can improve creativeset, please <a href="mailto:office@creativeset.net">contact us</a>.
		</p>
	</article><!-- End prose-block -->

<!-- **************************************************
					PROSE BLOCK MODULE
	 ************************************************** -->
	<article class="prose-block">
		<h1>Colours</h1>
		<h4>Primary colours</h4>
		<div class="grid-wrap tiny-gutter">
			<div class="grid-col three-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-primary-color-1"><img /></div>
				<p class="micro-copy">
					#29DEB7
				</p>
			</div>
			<div class="grid-col three-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-primary-color-5"><img /></div>
				<p class="micro-copy">
					#4822DB
				</p>
			</div>
			<div class="grid-col three-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-primary-color-2"><img /></div>
				<p class="micro-copy">
					#33DCB7
				</p>
			</div>
		</div>

		<h4>Grey tones</h4>
		<div class="grid-wrap tiny-gutter">
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-grey-darkest"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-grey-dark"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-grey-medium"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-grey-lightest"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-grey-medium-light"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-grey-light"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
		</div>
		<h4>Secondary colours</h4>
		<div class="grid-wrap tiny-gutter">
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-secondary-color-1"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
			<div class="grid-col four-up tiny-gutter">
				<div id="colour-swatch" class="bg--brand-secondary-color-2"><img /></div>
				<p class="micro-copy">
					#6FE2C9
				</p>
			</div>
		</div>
	</article><!-- End prose-block -->
<!-- **************************************************
					PROSE BLOCK MODULE
	 ************************************************** -->
	<article class="prose-block">
		<h1>Forms</h1>
		<select>
  			<label>Experience</label>
  			<option value="0">Experience</option>
  			<option value="1">Internship</option>
			<option value="5">Management</option>
			<option value="6">Student</option>
			<option value="7">Trainee</option>
			<option value="2">Junior</option>
			<option value="3">Middle</option>
			<option value="4">Senior</option>
  		</select>
  		<select>
  			<label>Experience</label>
  			<option value="0">Experience</option>
  			<option value="1">Internship</option>
			<option value="5">Management</option>
			<option value="6">Student</option>
			<option value="7">Trainee</option>
			<option value="2">Junior</option>
			<option value="3">Middle</option>
			<option value="4">Senior</option>
  		</select>
	</article>

<!-- **************************************************
					GRIDS MODULE
	 ************************************************** -->
 	<h1>Grids</h1>
	<h4>Two up</h4>
	<div class="grid-wrap margin-bottom--minus">
		<div class="grid-col two-up">
			<img src="http://placehold.it/350x150">
		</div>
		<div class="grid-col two-up">
			<img src="http://placehold.it/350x150">
		</div>
	</div>

	<h4>Two up .tiny-gutter</h4>
	<div class="grid-wrap tiny-gutter">
		<div class="grid-col two-up tiny-gutter">
			<img src="http://placehold.it/350x150">
		</div>
		<div class="grid-col two-up tiny-gutter">
			<img src="http://placehold.it/350x150">
		</div>
	</div>

	<h4>Two up .no-gutter</h4>
	<div class="grid-wrap no-gutter">
		<div class="grid-col two-up no-gutter">
			<img src="http://placehold.it/350x150">
		</div>
		<div class="grid-col two-up no-gutter">
			<img src="http://placehold.it/350x150">
		</div>
	</div>

	<h4>Three up</h4>
	<div class="grid-wrap margin-bottom--minus">
			<div class="grid-col three-up">
				<img src="http://placehold.it/350x150">
			</div>
			<div class="grid-col three-up">
				<img src="http://placehold.it/350x150">
			</div>
			<div class="grid-col three-up">
				<img src="http://placehold.it/350x150">
			</div>
		</div>
		<h4>Four up</h4>
		<div class="grid-wrap margin-bottom--minus">
			<div class="grid-col four-up">
				<img src="http://placehold.it/350x150">
			</div>
			<div class="grid-col four-up">
				<img src="http://placehold.it/350x150">
			</div>
			<div class="grid-col four-up">
				<img src="http://placehold.it/350x150">
			</div>
			<div class="grid-col four-up">
				<img src="http://placehold.it/350x150">
			</div>
		</div>

<!-- **************************************************
					FILTER MODULE
	 ************************************************** -->
	 <h1>Search results module</h1>
			<div class="grid-wrap margin-bottom--minus">
				  	<div class="grid-col four-up">
				  		<select>
				  			<label>Country</label>
				  			<option value="-1">Country</option>
				  			<option value="-1">All</option>
							<option value="1">Germany</option>
							<option value="3">Switzerland</option>
							<option value="2">Austria</option>
				  		</select>
				  	</div><!-- End div-col -->
				  	<div class="grid-col four-up">
				  		<select>
				  			<option>Region</option>
				  			<option value="-1">All</option>
							<option value="11">Baden-Wuerttemberg</option>
							<option value="30">Basel-Stadt</option>
							<option value="12">Bavaria</option>
							<option value="3">Berlin</option>
							<option value="1">Brandenburg</option>
							<option value="5">Hamburg</option>
							<option value="13">Hessen</option>
							<option value="6">Lower Saxony</option>
							<option value="7">North Rhine-Westphalia</option>
							<option value="18">Vienna</option>
							<option value="53">Vorarlberg</option>
							<option value="20">Zurich</option>
				  		</select>
				  	</div><!-- End div-col -->
				  	<div class="grid-col four-up">
				  		<select>
				  			<label>City</label>
				  			<option>City</option>
				  			<option value="-1">All</option>
							<option value="38">Basel</option>
							<option value="3">Berlin</option>
							<option value="60">Bregenz</option>
							<option value="23">Cologne</option>
							<option value="7">Dusseldorf</option>
							<option value="20">Frankfurt</option>
							<option value="62">Freiburg</option>
							<option value="5">Hamburg</option>
							<option value="65">Karlsruhe</option>
							<option value="127">Ludwigsburg</option>
							<option value="66">Mannheim</option>
							<option value="12">Munich</option>
							<option value="92">Münster</option>
							<option value="25">Nuernberg</option>
							<option value="1">Potsdam</option>
							<option value="11">Stuttgart</option>
							<option value="18">Wien</option>
							<option value="13">Wiesbaden</option>
							<option value="85">Wolfsburg</option>
							<option value="27">Zurich</option>
				  		</select>
				  	</div><!-- End div-col -->
				  	<div class="grid-col four-up">
				  		<select>
				  			<label>Experience</label>
				  			<option value="0">Experience</option>
				  			<option value="1">Internship</option>
							<option value="5">Management</option>
							<option value="6">Student</option>
							<option value="7">Trainee</option>
							<option value="2">Junior</option>
							<option value="3">Middle</option>
							<option value="4">Senior</option>
				  		</select>
				  	</div><!-- End div-col -->
			</div><!-- End div-wrap -->
<!-- **************************************************
					JOB LISTINGS MODULE
	 ************************************************** -->
			<!-- Start card -->
			<ul class="results-wrap">
				<a href="#">
					<li>
						<h4>Senior visual <span class="brand-primary-color-1">design</span>er for mobile and web</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4><span class="brand-primary-color-1">Design</span>er for mobile and web</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4>Digital <span class="brand-primary-color-1">design</span>er</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

				<!-- Start card -->
				<a href="#">
					<li>
						<h4>Production <span class="brand-primary-color-1">design</span>er</h4>
						<span class="micro-copy">Berlin <span class="grey-light">|</span> GameDuell GMBH</span>
					</li>
				</a><!-- End card -->

		</div><!-- End results-wrap -->

<!-- ************************************************** -->		
		</div><!-- End container page wrap -->
<!-- ************************************************** -->	

<!-- **************************************************
					FOOTER MODULE
	 ************************************************** -->
	