// Typography

$base-font-family-light: "FS Albert Web Light", Verdana , sans-serif;
$base-font-family-regular: "FS Albert Web Regular", Verdana, sans-serif;
$base-font-family-italic: "FS Albert Web Italic", Verdana , sans-serif;
$base-font-family-bold: "FS Albert Web Bold", Verdana , sans-serif;
$base-font-family-extra-bold: "FS Albert Web ExtraBold", Verdana , sans-serif;
$base-line-height:1.55em;
$base-font-size:18px;
$base-font-size-micro:0.75em;
$base-font-size-tiny:0.60em;


// Colors
$brand-primary-color-1:#29DEB7;
$brand-primary-color-2:#4822DB;
$brand-primary-color-3:#33DCB7;
$brand-primary-color-4:#6FE2C9;
$brand-primary-color-5:#74EDD4;
$brand-secondary-color-1:#2D62D9;
$brand-secondary-color-2:#FBA624;
$brand-grey-darkest:#131313;
$brand-grey-dark:#323232;
$brand-grey-medium:#6D6B69;
$brand-grey-medium-light:#DBD6CF;
$brand-grey-light:#E6E3DF;
$brand-grey-lightest:#9B9B9B;


//Padding
$padding-bp1: 3em;
$padding-bp2: 2em;
$padding-bp3: 1.75em;

