// Buttons

.button {
	display: block;
	color: black !important;
	padding: 0.75em;
	text-decoration: none;
	text-transform:uppercase;
	letter-spacing: 0.1em;
	width: auto;
	text-align: center;
	font-weight:700;
	max-width:10em;
	margin: 0 auto;
	border: 0.22em solid black;
	background-color: white;
	border-radius: 2px;

}

.button:hover {
	text-decoration: none;
}

.button:active{
}

.button a:visited{
}

.post-job-button a{
	background-color: rgba(0,0,0,0.1);
	border:3px solid $brand-primary-color-5;
	display: block;
	padding:0.5em 1em 0.5em 1em;
}

.post-job-button a:hover{
	background-color: $brand-primary-color-5;
	opacity: 1!important;
	color: black;
}

