// Footer

.footer_wrap{
    /* min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; the bottom margin is the negative value of the footer's height */
}

.footer{
    font-size: 0.65em;
    color: rgba(102,102,102,0.6);
    text-align: center;
    margin: 0 auto;
    line-height: 1.2em;
    padding:2em;
    overflow: hidden;
    max-width: 100%;
    height: 155px; /* .push must be the same height as .footer */
}
.footer--text-container{
    max-width: 50em;
    margin: 0 auto;
    margin-top: 1em
}
