// Forms


/*------- Standard form stuff -------*/

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input{ 
	font-family: $base-font-family-light;
    background-color: $brand-grey-light; 
    border: solid 0px #646464; 
    outline: none; 
    padding: 1em;
     -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    color: $brand-grey-medium;
} 

input:hover { 
     background-color: $brand-grey-medium-light;
} 
input:focus { 
    background-color: white; 
    color: rgba(0,0,0,1); 
} 
input:active { 
    background-color: $brand-grey-medium;
}

select {
    -webkit-appearance: none;
    border-radius: 0;
}

select{ 
    font-family: $base-font-family-regular;
    background-image: url("../img/svg/arrow-down.svg");
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: 93%;
    background-color: $brand-grey-light;
    color: rgba(0,0,0,0.3); 
    font-size: $base-font-size;
    border: solid 0px #646464; 
    outline: none; 
    padding: 1em;
     -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    border-radius: 1px;
    width:100%;
    margin-bottom: 1em;
     -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
} 

select:hover { 
     background-color: $brand-grey-medium-light;
     cursor: pointer;
} 
select:focus { 
} 
select:active { 
}

/*------- Modifiers -------*/

.textbox--giant { 
    padding: 0.5em 0.5em;
    font-size: 150%; 
    min-width: 16em;
    color: #8589D5;
    background-color: $brand-primary-color-2;
    background-image: url("../img/svg/search.svg");
    background-size: 45px auto;
    background-repeat: no-repeat;
    background-position: 97%;
    margin-top: -3em;
} 

@media screen and (max-width:600px){
    .textbox--giant { 
    min-width: 13em;
    background-image: url("../img/svg/search.svg");
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 98%;
} 
}

.textbox{
    background-color: $brand-primary-color-1;
}

input:hover { 
     background-color: #3F23B0;
} 
input:focus { 
    background-color: white; 
    color: rgba(0,0,0,1); 
} 
input:active { 
    background-color: #301883;
}


@media screen and (max-width:600px){
.textbox { 
    border: solid 0px #646464; 
    outline: none; 
    padding: 0.4em 0.4em;
    font-size: 220%; 
    max-width: 100%;
    margin-left: 0.8em;
    margin-right: 0.8em;
    min-width: 77%;
}
}

@media screen and (max-width:600px){
    .textbox { 
        max-width: 70%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        min-width: 60%;
    }  
}

