// Links

a:link{
	color:$brand-primary-color-2;
	text-decoration: none;
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition:.2s;
}

a:hover{
	color:$brand-primary-color-2;
	text-decoration: none;
	opacity: 0.7;
}

a:visited{
	color:$brand-primary-color-2;
}

a:active{
	position:relative;
	top:1px;
}