// Navigation

.nav-wrap{
	width: 100%;
	position: absolute;
	z-index: 2;
	text-align: right;
	background-color: black;
}

.nav-wrap--inside{
	width: 100%;
	position: relative;
	z-index: 2;
	text-align: right;
	background-color: black;
}

nav{
}

/* Meta nav */
.nav--meta {
	/*background-color: $brand-primary-color-3;*/
	background-color: $brand-grey-dark;
	margin-bottom: 0;
	font-size: 0.5em;
	padding-right: 2em;
}

.nav--meta a {
	color: rgba(255,255,255,0.5);
}

.nav--meta ul{
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
}

.nav--meta li{
	display: inline-block;
	margin-left: 1em;
}

/* Main nav*/

.nav--main {
	/*background-color: $brand-primary-color-5;*/
	margin-bottom: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	font-size: 0.65em;
}

.nav--main a{
	font-family: $base-font-family-bold;
	color: white;
}

.nav--main ul{
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
}

.nav--main li{
	display: inline-block;
	margin-left: 1em;
}

/*Logo*/
.site-logo{

}
.site-logo img{
	opacity: 0.7;
	width: 8em;
	margin-right: 1em;
}

/* Search */
.nav--search{
	position: absolute;
	left:1em;
}